  * {
    box-sizing: border-box;
    background-color: darkgrey;
    color: white;
  }
  
  .column {
    float: left;
    padding: 10px;
  }

  .left {
    float: left;
    padding: 10px;
  }

  .right {
    float: right;
    padding: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
      background-color: darkgray;
  }
  
  .img {
    border-radius: 50%; 
    margin-left: 15px;
    margin-top: 5px;
  }  

  .textColor {
    color: darkred;
  }

  .moods {
    font-size:20px
  }

  p.italic {
    font-style: italic;
  }
  