body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

img.header_img {
    width: 100%;
}

.left_div {
    border: 2px solid gray;
    width: 250px;
    float: right;
}

a.validator {
    float: right;
}

.container {
    background-color: springgreen;
    border: 2px solid gray;
    width: 900px;
    position: relative; 
    left: 0; 
    top: 0;
    border-radius: 25px;
    height: 1200px;
}

.banner_img {
    width: 900px;
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 23px 23px 0px 0px; 
}

.inner_img {
    width: 90px;
    height: 80px;
    position: absolute;
    left: 0px;
    border-radius: 23px 23px 0px 0px; 
}

.banners {
    position: relative; 
    left: 0; 
    top: 0;
}