body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
    background-attachment: fixed;
    font-family: Verdana, Tahoma;
    font-size: 8pt;
    margin-bottom: 0px;
}

.header_txt {
    font-family: Tahoma, Verdana;
    font-size: 24pt;
    font-weight: bold; 
    text-shadow: 3px 3px #999999;
    margin-top: 12px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.rating_text {
    font-weight: bold; 
    font-size: 48pt;
    color: red;
}

img.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50px;
}

img.right_img_div {
    border-radius: 0px 17px 0px 0px; 
}

.right_div {
    width: 250px;
    background-color: #A2B964;
    top: 0;
    right: 0;
    border-top-right-radius: 17px 17px;
    font-size: 8pt;
    font-family: Arial;
    float: right;
}

.left_div {
    width: 68%;
    display: flex;
    margin-bottom: 5px;
}

.left_div_container {
    width: 550px;
    border: 2px solid gray;
}

a.validator {
    float: right;
}

.container {
    border: 4px solid gray;
    width: 800px;
    position: relative; 
    
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9%;
    position: absolute;
}

.banner_img {
    width: 800px;
    height: 83px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 23px 23px 0px 0px; 
}

.div_top_img {
    width: -webkit-fill-available;
    background-image: url("../images/bannerbg.png");
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.inner_img {
    width: 90px;
    height: 83px;
    position: absolute;
    left: 0px;
    border-radius: 16px 0px 0px 0px; 
}

.banners {
    position: relative; 
    left: 0; 
    top: 0;
}

p.thick {
    border: 2px solid gray;    
    border-radius: 10px;
    margin: 5px;
    width: 90%;
    padding: 8px;
    background-color: #E8DC9B;
}

.left_div_item {
    width: 50%;
}

dt {
    font-weight: bold; 
    padding: 10pt;
}

q {
    font-weight: bold; 
}

.validator_div {
    position: relative;
    float: right;
}